@model Model.EF.Slide

@{

    Layout = "~/Areas/Showroom/Views/Shared/_Layouts.cshtml";
}

@section title{
    XBOX Vehicle Showroom - Slide Management
}

@section header{
    Update Slide Information of Slide
}

@section jsFooter{

    <script src="~/Assets/showroom/js/controller/SlideController.js"></script>
}

@using (Html.BeginForm("Edit", "Slide", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div style="padding-top:50px;" class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model=>model.Type)             

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Detail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                    </div>
                </div>
              

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <img style="height:200px;width:400px;margin-bottom:20px" src="~/Assets/showroom/img/slide/@Model.Image" id="showImg" />
            <input class="btn btn-primary" type="file" name="uploadImage" id="loadImg" value="Select Image" />          
        </div>
    </div>
</div>
}

