@model Model.EF.Feature

@{

    Layout = "~/Areas/BranchDealer/Views/Shared/_Layouts.cshtml";
}

@section title{
    XBOX Vehicle Showroom - Feature Management
}

@section header{
    Create new Feature Vehicle
}
@section jsFooter{

    <script src="~/Assets/dealer/js/controller/FeatureController.js"></script>
}

@using (Html.BeginForm("Create", "Feature", FormMethod.Post))
{
    <div style="padding-top:50px;" class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.VehicleID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.VehicleID, ViewBag.Vehicle as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VehicleID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartedDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpiredDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ExpiredDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpiredDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

