@model Model.EF.Purchase

@{

    Layout = "~/Areas/BranchDealer/Views/Shared/_Layouts.cshtml";
}

@section title{
    XBOx Vehicle Showroom - Purchase Management
}

@section header{
    Create new Purchase from Company
}
@section jsFooter{

    <script src="~/Assets/dealer/js/controller/PurchaseController.js"></script>
}

@using (Html.BeginForm("Create", "Purchase", FormMethod.Post))
{
    <div style="padding-top:50px;" class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.ReceivedName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReceivedName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReceivedName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReceivedAddress, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ReceivedAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReceivedAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReceivedEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReceivedEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReceivedEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReceivedPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReceivedPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReceivedPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


