@model PagedList.IPagedList<Model.EF.Dealer>
@using PagedList.Mvc;
@{

    Layout = "~/Areas/Showroom/Views/Shared/_Layouts.cshtml";
}

@section title{
    XBOX Vehicle Showroom - Dealer Management
}

@section header{
    List Branch Dealer
}
@section jsFooter{

    <script src="~/Assets/showroom/js/controller/DealerController.js"></script>
}

<div class="card shadow mb-4">

    @using (Html.BeginForm("Index", "Dealer", FormMethod.Get))
    {
        <div class="row" style="margin:20px 20px 20px 10px;">
            <div class="col-lg-4">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search here..." name="searchString" value="@ViewBag.SearchKeyword" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-lg-6 ">
                <a href="/Showroom/Dealer/Create" class="btn btn-primary">Create</a>
            </div>
        </div>
    }

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>                     
                        <th>Dealer Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Image</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Model.EF.Dealer item in Model)
                    {
                    <tr id="row_@item.ID">
                        <td>
                            <a href="/Showroom/Dealer/Edit/@item.ID">Update</a>
                            |
                            <a href="#" class="btnDelete" data-id="@item.ID">Delete</a>

                        </td>
                        <td>@item.DealerName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>
                            <img style="width:100px;height:100px;" src="~/Assets/showroom/img/dealer/@item.Avatar" />
                        </td>
                        <td>
                            @using (Html.BeginForm("ChangeStatus", "Dealer", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken();

                                <div class="form-group">
                                    @Html.DropDownList("Status", new SelectList(ViewBag.ListStatus, "Value", "Text", item.Status), new { @class = "form-control", @id = item.ID, onchange = "this.form.submit();" })
                                    @Html.Hidden("id", item.ID)
                                </div>

                            }

                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
        </div>
    </div>
</div>

