@model PagedList.IPagedList<Model.EF.Blog>
@using PagedList.Mvc;
@{

    Layout = "~/Areas/BranchDealer/Views/Shared/_Layouts.cshtml";
}

@section title{
    XBOX Vehicle Showroom - Blog Management
}

@section header{
    List Waiting Blog Confirmation of Branch Dealer
}
@section jsFooter{

    <script src="~/Assets/dealer/js/controller/BlogController.js"></script>
}

<div class="card shadow mb-4">


    @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
    {
        <div class="row" style="margin:20px 20px 20px 10px;">
            <div class="col-lg-4">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search here..." name="searchString" value="@ViewBag.SearchKeyword" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
           
        </div>
    }

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>                      
                        <th>Blog Name</th>
                        <th>Description</th>                      
                        <th>Created Date</th>
                        <th>Image</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Model.EF.Blog item in Model)
                    {
                        <tr id="row_@item.ID">                           
                            <td>@item.Name</td>
                            <td>@item.Description</td>                            
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>
                                <img src="~/Assets/showroom/img/blog/@item.Image" style="width:100px;height:100px" />
                            </td>
                            <td>
                               WAITING CONFIRM
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
        </div>
    </div>
</div>
