@model VehicleShowroomManagementSystem.Models.RegisterDealerModel
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");
}

@section title{
    XBOX Vehicle Showroom
}

@section jsFooter{

    <script src="~/Assets/client/js/controller/RegisterController.js"></script>
}
@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"])
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Dealer Registration</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN Main Container col2-right -->
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            @using (Html.BeginForm("Register", "Dealer", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-main col-sm-9 wow bounceInUp animated animated" style="visibility: visible;">
                    <div id="messages_product_view"></div>
                    <div class="static-contain">


                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.DealerName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DealerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DealerName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding-bottom:50px;" class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.Captcha(registerCaptcha)
                                @Html.TextBox("CaptchaCode")
                            </div>
                        </div>

                        <div class="buttons-set">
                            <button type="submit" title="Submit" class="button submit"><span><span>Submit</span></span></button>
                        </div>

                    </div>

                </div>
                <aside class="col-right sidebar col-sm-3 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="block block-company">
                        <div class="block-title">Avatar</div>
                        <div class="block-content">
                            <img style="height:250px;width:250px;margin-bottom:20px" src="#" id="showImg" />
                            <input style="width:250px;" class="btn btn-primary" type="file" name="uploadImage" id="loadImg" value="Select Image" />
                        </div>
                    </div>
                </aside>
                <!--col-right sidebar-->
            }
        </div>
        <!--row-->
    </div>
    <!--main-container-inner-->
</div>
<!--main-container col2-left-layout-->
